<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="./login.css">
    <!-- Inline style to ensure immediate background color before css loads to prevent white flash -->
    <style>
        body {
            background: #1a1a1a;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <!-- Optional Close Button -->
    <!-- <button class="close-btn" id="close-btn">&times;</button> -->

    <div class="login-container">
        <h1>로그인</h1>
        <form id="login-form" novalidate>
            <div class="input-group">
                <input type="email" id="email" required autocomplete="off" placeholder=" ">
                <label for="email">아이디</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" required placeholder=" ">
                <label for="password">비밀번호</label>
            </div>
            <button type="submit" class="login-btn">로그인</button>
        </form>
        <div class="footer">
            <a id="signup-link">회원이 아니신가요?</a>
        </div>
    </div>

    <script type="module" src="./login.js"></script>
</body>

</html>